/* *{
    outline: 1px solid red;
} */

/* p{
    outline: 1px solid red;
} */
body,ul{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 0.5rem 6rem;
    border-bottom: 1px solid lightblue;
}

.navbar-logo{
    display: flex;
    flex-basis: 35%;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
    justify-content: flex-start;
    font-family: "Brush Script MT";
    
}

.navbar-links{
    flex-basis: 60%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links li{
    margin-left: 30px;
    font-size: 1rem;
}

.navbar-links a{
    text-decoration: none;
    color: #555;
    padding: 8px 15px;
    transition: color 0.3s;
}

.navbar-links a:hover{
    color: #000;
}

.navbar-links .bordered-link a{
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
}

.navbar-links .bordered-link a:hover{
    background-color: #333;
    color: #fff;
}

.AboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 239, 241);
    padding: 2rem 4rem;
    border-bottom: 1px solid lightblue;
}

.abt-content{
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-self: stretch;
    }

.abt-title{
    display: flex;
    flex-basis: 20%;
    font-size: 1.3rem;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.abt-paragraph{
    flex-basis: 80%;
    display: flex;
    font-size: 1rem;
    padding: 0.1rem 2rem;
    justify-content: center;
    line-height: 1.7;
    text-align: justify;
}

.abt-img {
    flex-basis: 50%;
    min-height: 200px;
    outline: 1px solid red ;
}

.Blog-Posts{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 2rem 4rem;
    /* border-bottom: 1px solid lightblue; */
}

.Blog-Posts-List{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f8f8f8;
    padding: 1rem 1rem;
    /* border-bottom: 1px solid lightblue; */
}

.BP-1{
    display: flex;
    background-color: #f8f8f8;
    padding: 10rem 37rem;
    margin-bottom: 30px;

    border: 2px solid rgba(69, 59, 59, 0.144); /* A light border helps define the edge */
    border-radius: 12px;
    box-shadow: 2px 3px 0 #5142423a; /* This creates the solid "bottom edge" */
    position: relative; /* Needed for the active state */
    top: 0;
    transition: top 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.BP-1:active {
    top: 2px; /* Moves the button down */
    box-shadow: 0 2px 0 #cccccc00; /* Reduces the shadow to complete the effect */
}

.BP-2{
    display: flex;
    background-color: #f8f8f8;
    padding: 10rem 37rem;
    margin-bottom: 30px;

    border: 2px solid rgba(69, 59, 59, 0.144); /* A light border helps define the edge */
    border-radius: 12px;
    box-shadow: 2px 3px 0 #5142423a; /* This creates the solid "bottom edge" */
    position: relative; /* Needed for the active state */
    top: 0;
    transition: top 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.BP-2:active {
    top: 2px; /* Moves the button down */
    box-shadow: 0 2px 0 #cccccc00; /* Reduces the shadow to complete the effect */
}
